nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #293980;
}

.ac {
  background-color: #293980;
  border: 0 none;
}

.login {
  border: white 1px solid;
  padding: 10px;
}

.login a {
  color: #F3F3F3;
  text-decoration: none;
  transition: all 0.5s ease;
}

.login a:hover {
  opacity: 0.7;
}

.conta {
  display: none;
  color: #F3F3F3;
  text-decoration: none;
  transition: all 0.5s ease;
}

.conta:hover {
  opacity: 0.7;
}

.logo a {
  font-weight: bold;
  letter-spacing: 3px;
  color: #F3F3F3;
  text-decoration: none;
}

.logo a:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: none;
  width: 30%;
}

.navLinks li {
  list-style: none;
}

.navLinks a {
  color: #F3F3F3;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.navLinks a:hover {
  opacity: 0.8;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #F3F3F3;
  margin: 5px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .navLinks {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #293980;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navLinks li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateX(0%);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.user {
  display: flex;
  justify-content: none;
  align-items: center;
  display: flex;
  align-items: center;
}

.user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.user span {
  margin-left: 5%;
}

footer {
  background-color: #293980;
  padding-bottom: 10px;
}

footer .socialMedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  transition: 0.6s;
}

footer .socialMedia img {
  height: 60px;
  width: 60px;
  margin: 50px;
}

footer p {
  text-align: center;
  color: white;
}

footer a {
  transition: all 0.5s ease;
}

footer img:hover {
  opacity: 0.7;
  transition: 0.6s;
}

.contraste {
  background-color: #F3F3F3 !important;
}

.contraste nav {
  background-color: #333 !important;
}

.contraste nav .ac {
  background-color: #333;
}

.contraste nav .ac button {
  background-color: #333;
  border: none;
}

.contraste footer {
  background-color: #333 !important;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body {
  background-color: #9EB0FF;
  transition: all ease 0.5s;
}

.jogos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.jogos div {
  margin: 60px 0;
  height: 500px;
  width: 400px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 3%;
  transition: transform 1s;
}

.jogos div:hover {
  box-shadow: 1px 1px 5px 1px #333;
  transform: translate(0, -10px);
}

.jogos .AB {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bf739ed7-d95b-43c2-8868-1a88a5829ce5/dccrha7-9dd36f1f-db74-40b6-b294-f7ee38523a4b.png/v1/fill/w_894,h_894,q_70,strp/moon_pixel_background_edit_by_fallingpixels_dccrha7-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjAwMCIsInBhdGgiOiJcL2ZcL2JmNzM5ZWQ3LWQ5NWItNDNjMi04ODY4LTFhODhhNTgyOWNlNVwvZGNjcmhhNy05ZGQzNmYxZi1kYjc0LTQwYjYtYjI5NC1mN2VlMzg1MjNhNGIucG5nIiwid2lkdGgiOiI8PTIwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.pl8L7_XESLClGeG48dndch3fJ4yK0ub7GS9S88C2dgA");
}

.jogos .CX {
  background-image: url("https://images.wallpaperscraft.com/image/this_war_of_mine_the_little_ones_11_bit_studios_107352_540x960.jpg");
}

.jogos .N {
  background-image: url("https://i.ytimg.com/vi/KwYSqx4GfjM/maxresdefault.jpg");
}

.jogos .DU {
  background-image: url("https://www.tokkoro.com/picsup/2831331-church___anime-wallpapers.jpg");
}

.jogos h3 {
  margin-top: 100px;
  color: white;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 1px 0 10px #333;
}

.jogos button {
  margin: 30px;
  height: 40px;
  width: 100px;
  border-radius: 10%;
  background-color: white;
  border: none;
  color: #333;
  font-family: monospace;
  font-weight: bold;
  transition: all 0.5s ease;
}

.jogos button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #333333;
}

a {
  font-size: 20px;
}

p {
  font-size: 17px;
}

h3 {
  font-size: 32px;
}

.equipeC {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-flow: row wrap;
  text-align: center;
  margin: 80px;
}

.equipeC .cardE {
  width: 400px;
  margin: 40px;
}

.equipeC .cardE img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.equipeC .cardE .media {
  border-radius: 0%;
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.equipeC a {
  transition: all 0.3s ease;
}

.equipeC a:hover {
  opacity: 0.7;
}

.an {
  transform: rotate(-60deg);
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 80px 0;
}

.sobre div {
  text-align: center;
  width: 90%;
}

.sobre div p {
  text-align: center;
  margin: 10px 120px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-flow: column;
  flex-wrap: wrap;
  text-align: center;
}

.ac button {
  margin: 0 5px;
  border: none;
  background-color: #293980;
  transition: all 0.3s ease;
}

.ac button img {
  width: 30px;
}

.ac button:hover {
  cursor: pointer;
  opacity: 0.8;
}
